main .text-image-container > div {
  max-width: unset;
}
  
main .text-image-container {
  padding: 30px;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: grey;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 50%;
  height: 100%;
}
